  <h2><%= @restaurant.name %></h2>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.category %></p>
  <p><%= @restaurant.phone_number %></p>

  <h3>Review</h3>


<% @restaurant.reviews.each do |review| %>
(<%= "*" * review.rating %>) <%= review.content %>
<% end %>
<br>
<br>
<%= link_to "Go back", restaurants_path, class: "btn btn-primary"  %>
<%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
